header
{
    flex-direction: column;
    height:220px
}
.logo
{
    margin-left: 250px;
    justify-content: center;
}
.hebergement
{
    padding-top:20px;
    height:50px;
    padding-left: 60px;
    margin-left: 150px;
    text-decoration: underline 3px rgb(218, 212, 212);
}
.activity
{
    padding-top:20px;
    height:50px;
}
.hebergement:hover
{
    border-top: none;
    border-bottom: 2px solid;
    border-color: #0065fc;
}
.activity:hover
{
    border-top: none;
    border-bottom: 2px solid;
    border-color: #0065fc;
}
.navbar
{
    padding-bottom: 30px;
}
.section1findout
{
    max-width: 300px;
}
.filter
{
    flex-wrap: wrap;
    max-width:458px;
}
.filterheading
{
    margin-right: 300px;
}
.appartements
{
    flex-flow: column-reverse;
    margin-left:0;
}
.popular
{
    width:700px;
    border-radius: 0;
}
.appartementslist
{
    height:2300px;
    width:700px;
    background-color: white;
}
.appartements-options
{
    height:2250px;
    margin-bottom:0;
}
.appartements-options1-3
{
    flex-direction:column;
    height:50%
}
.appartements-options4-6
{
    flex-direction:column;
    height:50%;
}
.appartements-card1
{
    width:100%;
    height:320px;
    margin-left:0;
    margin-right: 0;
    margin-bottom: 30px;
    box-shadow: #f2f2f2 5px 5px 5px 5px;
}
.appartements-card2
{
    width:100%;
    height:320px;
    margin-bottom: 30px;
    box-shadow: #f2f2f2 5px 5px 5px 5px;
}
.appartements-card3
{
    width:100%;
    height:320px;
    margin-bottom: 30px;
    box-shadow: #f2f2f2 5px 5px 5px 5px;
}
.appartements-card4
{
    width:100%;
    height:320px;
    margin-bottom: 60px;
    margin-left:0;
    box-shadow: #f2f2f2 5px 5px 5px 5px;
}
.appartements-card5
{
    width:100%;
    height:320px;
    margin-bottom: 60px;
    box-shadow: #f2f2f2 5px 5px 5px 5px;
}
.appartements-card6
{
    width:100%;
    height:320px;
    margin-bottom: 60px;
    box-shadow: #f2f2f2 5px 5px 5px 5px;
}
.activitymarseille
{
    flex-direction: column;
    height:100%;
    display:block;
    width:100%
}
.activitybloc
{
    width:100%;
}
.activitytitle
{
    margin-top: 0;
}
.activity1
{
    margin-right: -20px;
}
.activity2
{
   width:200px
}

.activity2-1
{
    width:85%;
    height:550px
}
.activity2-2
{
    width:85%;
    height:550px;
}
.activity3
{
    margin-top: 10px;
    margin-left: 0;
}
.activity4-1
{
    width:85%;
    height:550px;
}
.activity4-2
{
    width:85%;
    height:550px;
}
