header
{
    flex-direction: column;
    height:220px;
    margin-right:0px;
}
.logo
{
    display:flex;
    justify-content: center;
    padding-bottom: 20px;
}
.hebergement
{
    height:50px;
    width:50%;
    display: flex;
    justify-content: center;
    border-bottom: #f2f2f2 solid 4px;
}
.activity
{
    height:50px;
    width:50%;
    margin-right: 0;
    display: flex;
    justify-content: center;
    border-bottom: #f2f2f2 solid 4px;
}
.hebergement:hover
{
    border-top: none;
    border-bottom: 2px solid;
    border-color: #0065fc;
}
.activity:hover
{
    border-top: none;
    border-bottom: 2px solid;
    border-color: #0065fc;
}
.navbar
{
    padding-bottom: 30px;
    width:100%;
    margin-right: 0;
}
.section1findout
{
    max-width: 300px;
}
.filter
{
    flex-wrap: wrap;
    max-width:400px;
}
.filterheading
{
    margin-right: 300px;
}
.filtertexticons
{
    margin-bottom: 10px;
}
.appartements
{
    flex-flow: column-reverse;
    margin-left:0;
}
.popular
{
    border-radius: 0;
    width:100%;
    margin-right: 0px;
}
.appartementslist
{
    height:auto;
    background-color: white;
    width:100%;
    padding-top: 0;
}
.appartements-options
{
    height:auto;
    margin-bottom:0;
    gap:30px;
}
.appartements-options1-3
{
    flex-direction:column;
}
.appartements-options4-6
{
    flex-direction:column;
}
.appartements-card1
{
    width:100%;
    margin-left:0;
    margin-right: 0;
    margin-bottom: 30px;
    box-shadow: #f2f2f2 5px 5px 5px 5px;
}
.appartements-card2
{
    width:100%;
    margin-bottom: 30px;
    box-shadow: #f2f2f2 5px 5px 5px 5px;
}
.appartements-card3
{
    width:100%;
    margin-bottom: 30px;
    box-shadow: #f2f2f2 5px 5px 5px 5px;
    max-height: 260px;
}
.appartements-card4
{
    width:100%;
    margin-bottom: 60px;
    margin-left:0;
    box-shadow: #f2f2f2 5px 5px 5px 5px;
    height:250px;
}
.appartements-card5
{
    width:100%;
    margin-bottom: 60px;
    box-shadow: #f2f2f2 5px 5px 5px 5px;
    height:250px;
}
.appartements-card6
{
    width:100%;
    margin-bottom: 60px;
    box-shadow: #f2f2f2 5px 5px 5px 5px;
    height:250px;
}
.appartements-card1link
{
    height:250px;
}
.appartements-card2link
{
    height:250px;
}
.appartements-card3link
{
    height:100%;
}
.appartements-card4link
{
    height:250px;
}
.appartements-card5link
{
    height:250px;
}
.appartements-card6link
{
    max-height:250px;
}
.appartements-card1pic
{
    height:70%;
}
.appartements-card2pic
{
    height:70%;
}
.appartements-card3pic
{
    height:70%;
}
.appartements-card4pic
{
    height:70%;
}
.appartements-card5pic
{
    height:70%;
}
.appartements-card6pic
{
    height:70%;
}
.activitymarseille
{
    flex-direction: column;
    height:100%;
    display:block;
    width:100%
}
.activitybloc
{
    width:100%;
}
.activitytitle
{
    margin-top: 0;
}
.activity1
{
    width:90%;
    margin-bottom: 30px;
}
.activity1pic
{
    height:200px;  
}
.activity2
{
   width:90%;
}
.activity2-1
{
    width:90%;
    height:100%;
}
.activity2-1pic
{
    height:200px;
}
.activity2-2
{
    width:90%;
    height:100%;
    margin-bottom: 30px;
}
.activity2-2pic
{
    height:200px;
}
.activity3
{
    margin-top: 10px;
    margin-left: 0;
    width:90%;
    height:100%;
    margin-bottom: 30px;
}
.activity3pic
{
    height:200px;
}
.activity4-1
{
    width:90%;
    height:100%;
}
.activity4-1pic
{
    height:200px;
}
.activity4-2
{
    width:90%;
    height:100%;
}
.activity4-2pic
{
    height:200px;
}
.search-btn
{
    display:none;
}
.magnifyingglass
{
    display:block;
    width:50px;
    height:50px;
    background-color: #0065fc;
    padding-top: 17px;
    padding-left:17px;
    border-radius: 20px 20px 20px 20px;
    color:white;
    margin-left: -10px;
}
footer
{
    max-width: 800px;
    flex-direction: column;
    height:400px;
}
.about
{
    width:100%;
    height:auto;
}
.assistance
{
    width:100%;
    height:auto;
}
.ourhebergement
{
    width:100%;
    height:auto;
}
body{
    max-width: fit-content;
    min-width: none;
}

